<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="jgrossp@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/jgrossp"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/jessica-g-0422a023/"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/jgrossp"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Dev.to" target="_blank" href="https://dev.to/jgrossp/"><img src="https://cdn1.iconfinder.com/data/icons/logos-and-brands-3/512/84_Dev_logo_logos-512.png" style= "width:45px;height:45px; background-color: #FFF;</a></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
